<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <style>
        td, th{
            background-color: floralwhite;
            border: solid;
            padding: 6px;
        }

        .dados{
            font-size: 30px;
            color: blue;
        }

        .nomeCabeca{
            display: inline-flex;
            margin-right: 20px;
            color: white;

        }
        body{
            background-color: brown;
        }

        #cartao{
            margin: 30px;
            background-color:rgb(238, 179, 173);
            padding: 50px;
        }
        .cabeca{
            font-size: 50px;
            color: white;
            margin-left: 5px;
            margin-top: 0px;
        }

        .item1, .item3{
            display: inline-flex;
            
        }

        .linha1{
            margin-right: 100px;
        }

        input{
            height: 40px;
            font-size: 25px;
        }

        .input1{
            width: 1000px;
        }

        #percentagem{
            font-size: 50px;            
        }
        #g4502{
            width: 50px;
            background-color: aqua;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>Sistema Agregados Asia Food</title>
</head>
<body>
    {{{body}}}
</body>
</html>